.App {
  text-align: center;
  display: grid;
  grid-template-columns: 60vw 40vw;
  grid-template-rows: 15vh 50vh 35vh;
}

header {
  grid-column: 1 / 3;
  background-color: aqua;
  grid-row-start: 1;
  grid-row-end: 2;
}

.all-boards {
  grid-column-start: 2;
  grid-row-start: 2;
}

.board-list-text-box {
  text-align: left;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2pt solid blueviolet;
  border-radius: 20pt;
  margin: 8pt;
}

p {
  margin: 3pt;
}

ul {
  list-style-type: none;
}

.add-board {
  grid-column-start: 2;
  grid-row-start: 3;
}